/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: darkviolet;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3a3833;
}

hr {
  width: 30px;
  background-color: darkviolet;
  height: 2px;
}

.star {
  padding: 10px 0;
}

.star i {
  font-size: 0.8rem;
  color: gold;
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body > nav {
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-light .navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo {
  width: 20%;
}

#bar {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
  padding: 7px;
  transition: 0.3s ease;
}

#bar:hover,
#bar:active {
  color: rgb(251, 251, 251);
}

@media only screen and (max-width: 991px) {
  body > nav > div > button:hover,
  body > nav > div > button:focus {
    background-color: darkviolet;
  }

  #navbarSupportedContent > ul {
    background-color: #fff;
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a {
    padding: 10px 0;
  }
}

/* mobile NAV */

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: darkviolet;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: darkviolet;
}

.navbar i:hover,
.navbar i:active {
  color: darkviolet;
}

#home {
  background-image: url("img/back.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: darkviolet;
}

#new .one img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

#new .one .details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#new .one:hover .details {
  cursor: pointer;
  background-color: rgba(245, 178, 178, 0.7);
}

#new .one .details button {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #2a2a2a;
  background: none;
  text-transform: uppercase;
  border-bottom: 1px solid #2a2a2a;
  padding: 2.5px;
  transform: translateY(70px);
  transition: 0.3s ease;
}

#new .one .details button:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#new .one:nth-child(1) .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

#new .one:nth-child(2) .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#new .one:nth-child(3) .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
}

/* Products */

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}

.product img {
  transition: 0.3s all;
}

.product:hover img {
  opacity: 0.7;
}

.product .buy-btn {
  background-color: darkviolet;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
  border: none;
}

.product:hover .buy-btn {
  transform: translateY(0);
  opacity: 1;
}

#banner {
  background-image: url("img/banner/3.png");
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner h4 {
  color: #d8d8d8;
}

#banner h1 {
  color: #fff;
}

#banner button {
  background-color: darkviolet;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  transition: 0.3s ease;
}

#banner button:hover {
  background-color: rgb(196, 94, 239);
  color: rgb(11, 10, 11);
}

footer {
  background-color: #000;
}

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
}

footer li a {
  font-size: 0.8rem;
  color: #999;
}

footer li a:hover {
  color: #d8d8d8;
}

footer p {
  color: #999;
  font-size: 0.8rem;
}

body > footer > div.copyright.mt-5 > div > div:nth-child(n) > a:nth-child(n) > i {
  color: #000;
  width: 38px;
  height: 38px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

body > footer > div > div > div:nth-child(n) > a:nth-child(n):hover > i:hover {
  color: #fff;
  background-color: darkviolet;
}

.footer-logo {
  width: 100%;
}
